/*HOME PAGE*/
body { 
    background: black
}

header a {
    color: white;
}

header a:hover {
    color:rgba(254 232 141) ; 
}

.homehead {
   position: fixed;
   right:0; 
}
header.homepage {
    color:white;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 28px;
    font-stretch: expanded;
    text-align: right;
}

header.interior {
    color:white;
    font-family:'Noto Sans TC',sans-serif;
    font-size:28px;
    text-align: right;
}

.scrollingarticles article {
    background-size: cover;
    padding:25rem 3rem 1rem 3rem;
}

.cover {
    background-size:cover;
    background-position: center;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    color:white;
    font-weight: 400;
    font-size:38px;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    color:white;
    font-weight:normal;
    font-size:28px;
}



/*STORIES*/

.featured {
    background-color: rgba(254 232 141);
    padding-left: 1rem;
    padding-right: 1rem;
}
.feathead {
    color:black;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.featstorybody {
    color:black;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
}
.feattoptxt {
    color:black;
    font-family: 'Fjalla One', sans-serif;
    font-size:32px;
    
}

.feat {
    padding-left: 1rem;
    padding-right: 1rem;
}
.covertitle {
    font-size: 120px;
    color:white;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    padding:0rem 0rem 1rem 0rem;
}

.feed {
    padding: 25px;
}

.toptxt {
    font-family: 'Fjalla One', sans-serif;
    color:white;
    font-size:32px;
 
}

.storyhead {
    font-family: 'Noto Sans TC', sans-serif;
    color:white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.storybody{
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    font-size: 14px;
}
hr{
    max-width: 80%;
    border:2px solid rgba(254 232 141);
}


/*VISUALS*/

/* padding: top right bottom left */
form.search {
    border-radius: 15px 15p 15px 15px;
    color:white;
}
.visualsearch {
    padding: 2rem 15rem 0rem 15rem;
}

input[type="text"] {
     border: 4px solid rgba(254 232 141);
     border-radius: 18px;
     background-color: black;
     padding: 1rem 0rem 1rem 2rem;
     background-image: url(../images/searchicon.png);
}

input[type="text"]:focus {
    background-color: black;
    width: 100%;
    color:white;
}

.v1 {
    padding: 1rem 0.5rem 0.5rem 1rem
}
.v2{
    padding: 1rem 1rem 0.5rem 0.5rem
}
.v3 {
    padding: 1rem 0.5rem 0.5rem 1rem
}
.v4 {
    padding: 1rem 1rem 0.5rem 0.5rem
}
.v5 {
    padding: 1rem 0.5rem 0.5rem 1rem
}
.v6 {
    padding: 1rem 1rem 0.5rem 0.5rem
}
.v7 {
    
    padding: 1rem 1rem 1rem 1rem;
}
.v8 {
    padding: 1rem 0.5rem 0.5rem 1rem
}
.v9{
    padding: 1rem 1rem 0.5rem 0.5rem;
    background-size: cover;
}
.v10 {
    padding: 1rem 0.5rem 0.5rem 1rem
}
.v11 {
    padding: 1rem 1rem 0.5rem 0.5rem
}
.v12 {
    padding: 1rem 0.5rem 0.5rem 1rem
}
.v13 {
    padding: 1rem 1rem 0.5rem 0.5rem
}
.v14 {
    padding: 1rem 0.5rem 0.5rem 1rem
}
.v15 {
    padding: 1rem 1rem 0.5rem 0.5rem
}

/*YOUR BEAT*/

h4 {
    text-align: center;
    color: white;
    font-family: 'Bad Script', sans-serif;
    font-size: 55px;
    font-weight: 800;
    padding-top: 5rem;
}
.second {
    text-align: center;
    color: white;
    font-family: 'Bad Script', sans-serif;
    font-size: 50px;
    font-weight: 800; 
    padding-top: 2rem;
}

p {
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 1rem 8rem 1rem 8rem;
}

.login {
    border: 4px solid rgba(254 232 141);
    border-radius: 15px 15p 15px 15px;
    font-family: 'Fjalla One', sans-serif;
    color:white;
    text-align: center;
    font-size: 25px;
}

.login a{
    color: white;
}

.login a:hover {
    color:rgba(254 232 141) ;
    background-color: black;
}

.list {
    text-align: left;
}

.reveal {
    background-color: black;
}
h1 {
    color: rgba(254 232 141);
    font-family: 'Bad Script', sans-serif;
    text-align: center;
}

.tabs-content {
    background-color: black;
}

ul.tabs{
    background-color: black;
    font-size: 19px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
}
a.signupnext {
    background-color:black;
    border:4px solid rgba(254 232 141);
}
a.signupnext a:hover {
    background-color: rgba(254 232 141)
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] 
{
    background: rgba(254 232 141);
    color: black;
    
}
.tabs-title > a:hover {
    border:4px solid rgba(254 232 141);
    color: black;
}

.tabs-title > a {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color:white;
}

.button:hover, .button:focus {
    background-color: rgba(254 232 141);
}
/* YOUR BEAT SIGNIN*/

.beatfeed {
    padding: 2rem 4rem 2rem 4rem;
}
.menutxt {
    text-align: right;
    font-family: 'Fjalla One', sans-serif;
    color:white;
    font-size:25px;
    border: 4px solid rgba(254 232 141);
    padding: 0rem 2rem 0rem 2rem;
}
.signupnext {
    background-color:black;
    border:4px solid rgba(254 232 141);
}
.signupnext a:hover {
    background-color: rgba(254 232 141)
}

.off-canvas-menu {
  padding: 2rem 1rem;
}

.docs-example-orbit-slide {
  padding: 2rem 4rem;
  color: #fefefe;
}
.orbit-slide:nth-of-type(1) .docs-example-orbit-slide {
  background: dodgerblue;
}
.orbit-slide:nth-of-type(2) .docs-example-orbit-slide {
  background: rebeccapurple;
}
.orbit-slide:nth-of-type(3) .docs-example-orbit-slide {
  background: darkgoldenrod;
}
.orbit-slide:nth-of-type(4) .docs-example-orbit-slide {
  background: lightseagreen;
}

/*ABOUT*/
.btb {
    padding-left: 7rem;
}

.btbp {
    font-size: 19px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    text-align: center;
    padding: 4rem 7rem 1rem 4rem;
}

.info{
    padding-left: 1rem;
}

.line {
    padding: 6rem 0rem 0rem 0rem;
}
form {
    padding: 1rem 2rem 1rem 2rem;
    border: 4px solid rgba(254 232 141);
}

label {
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    font-size: 20px;
}

.aboutbody {
    font-size: 19px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    text-align: center;
    padding: 2rem 4rem 0rem 4rem;
}

.abouthead {
    font-family: 'Noto Sans TC', sans-serif;
    color:white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
select {
    border: 4px solid rgba(254 232 141);
    border-radius: 18px;
    background-color: black;
    color:white;
}

select:focus {
    background-color: black;
}

textarea {
    background-color: black;
    color: white;
    border: 4px solid rgba(254 232 141);
    border-radius: 18px;
}

textarea:focus {
    background-color: black;
}